doctype html
head
  title SAIEF BRAHIM PORTFOLIO
  link(rel='stylesheet' href='/stylesheets/style.css')
  link(rel='icon' type='image/png' href='images/favicon.png')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  script(src='https://kit.fontawesome.com/be3487ad83.js' crossorigin='anonymous')
  body 
header#homelink
  a(href='#homelink')
    img.logo(src='images/Saieflogo.png' alt='Logo')
  nav.navbar
    ul(style='list-style-type:none;')
      li
        a.link(href='/') Home
      li
        a.link(href='/services') Services
      li
        a.link(href='/contact-us') Contact
  #worklink.wexp
    h1 Work Experience
    h3 Here is one of my projects
    video(controls='' src='' width='600px' height='480px' autoplay='' muted='') 
footer
  h5 © Copyright 2022. All rights are reserved.
